div.jumbotron {
    background-image: url(https://www.irishtimes.com/polopoly_fs/1.2387263.1444502303!/image/image.jpg_gen/derivatives/box_620_330/image.jpg)
    
    }
    
    .white{
        color:floralwhite;
    }
    
    /* a{
        color: floralwhite;
    } */
    
    /* a{
        color: blue;
    } */